body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Poppins",sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(223, 243, 243, 0.658);
    padding: 20px;
    

}
.logo{
    width: 5%;
    border-radius: 50%;
   margin-top: auto;
   cursor: pointer;
}
.header ul li{
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0 35px;
    font-size: 2em;
    cursor: pointer;
    position: relative;
    
}
.header ul li a{
    text-decoration: none;
    color: inherit;
}
.header ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.header ul li:hover::after {
    width: 100%;
}
.hero{
   padding-top: 0.1px;
    height: 655px;
    width: 100%;
     background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://images.pexels.com/photos/42408/pexels-photo-42408.jpeg);
    background-size: cover;
    background-position: center;
}
  .content{
width: 100%;
position: absolute;
transform: translateY(-50);
top: 30%;
text-align: center;
color: white;

}
.content h1{
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;

}
.content p{
    font-weight: 100;
    margin: 20px auto;
    line-height: 25px;
     text-transform: uppercase;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    /* position: relative; */
    overflow: hidden;
    transition: 0.5s;
    font-size: 1rem;

}
button:hover{
    background-color: #009688;
    
}
footer {
  background: rgba(223, 243, 243, 0.658);
  color: inherit;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
}